
    <div class="sidebar">
        <div class="logo">Swizz Times</div>
        <button class="nav-button">Dashboard</button>
        <button class="nav-button">Product</button>
        <button class="nav-button">Users</button>
        <button class="nav-button">Brands</button>
        <button class="nav-button">Category</button>
        <button class="nav-button">Orders</button>
        <button class="nav-button">Coupons</button>
        <button class="nav-button">Wallet</button>
    </div>